@model Presentation_layer.VM.OrderDetailsVM

<div class="container mt-4">

    <h2 class="text-center mb-4">Order Details</h2>

    <div class="card p-3 mb-4">
        <h4>Order Number: @Model.OrderId</h4>
        <h5>Total Price: @Model.TotalPrice EGP</h5>
    </div>

    <h4>Products</h4>
    <div class="row">
        @foreach(var item in Model.Products)
        {
        <div class="col-md-4">
            <div class="card mb-3" style="min-height:350px">
                <img src="~/image/@item.ImageName" class="card-img-top" style="height:200px; object-fit:contain;" />

                <div class="card-body">
                    <h5>@item.Name</h5>
                    <p>Price: @item.Price EGP</p>
                </div>
            </div>
        </div>
        }
    </div>

</div>
